Repository DestinE-Climate-DT/AQUA, pull requests merged in 2025-08, with the labels that each got.

#1684 New seaice diagnostic implementation
  CHANGELOG.md
  cli/weights/generate_weights.py
  config/diagnostics/seaice/config_seaice.yaml
  config/diagnostics/seaice/definitions/regions.yaml
  config/diagnostics/seaice/regions_definition.yaml
  src/aqua/cli/diagnostic_config.py
  src/aqua/graphics/single_map.py
  src/aqua/graphics/timeseries.py
  src/aqua/util/__init__.py
  src/aqua/util/graphics.py
  src/aqua/util/sci_util.py
  src/aqua/util/time.py
  src/aqua/util/util.py
  src/aqua_diagnostics/__init__.py
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/seaice/__init__.py
  src/aqua_diagnostics/seaice/cli_seaice.py
  src/aqua_diagnostics/seaice/plot_2d_seaice.py
  src/aqua_diagnostics/seaice/plot_seaice.py
  src/aqua_diagnostics/seaice/seaice.py
  src/aqua_diagnostics/seaice/util.py
  tests/seaice/test_plot_2d_seaice.py
  tests/seaice/test_plot_seaice.py
  tests/seaice/test_seaice.py
Labels: diagnostic

#2007 Radiation diagnostic refactor
  CHANGELOG.md
  cli/aqua-analysis/config.aqua-analysis.yaml
  config/diagnostics/radiation/config_radiation-boxplots.yaml
  notebooks/diagnostics/boxplots/boxplots.ipynb
  notebooks/diagnostics/radiation/radiation.ipynb
  src/aqua/graphics/__init__.py
  src/aqua/graphics/boxplot.py
  src/aqua/util/__init__.py
  src/aqua/util/util.py
  src/aqua_diagnostics/__init__.py
  src/aqua_diagnostics/boxplots/__init__.py
  src/aqua_diagnostics/boxplots/boxplots.py
  src/aqua_diagnostics/boxplots/cli_boxplots.py
  src/aqua_diagnostics/boxplots/plot_boxplots.py
  src/aqua_diagnostics/global_biases/cli_global_biases.py
  src/aqua_diagnostics/radiation/__init__.py
  src/aqua_diagnostics/radiation/cli_radiation.py
  src/aqua_diagnostics/radiation/radiation.py
  tests/test_util.py
Labels: diagnostic, improvement, ready to merge

#2129 Tests and Docs for Boxplots
  CHANGELOG.md
  config/diagnostics/boxplots/config_boxplots.yaml
  docs/sphinx/source/stateoftheart_diagnostics/boxplots.rst
  docs/sphinx/source/stateoftheart_diagnostics/figures/boxplot_mtnlwrf_mtnswrf_ceres_ebaf-toa41_monthly_ifs-nemo_historical-1990_lra-r100-monthly-1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/radiation_boxplot.png
  docs/sphinx/source/stateoftheart_diagnostics/global_biases.rst
  docs/sphinx/source/stateoftheart_diagnostics/radiation.rst
  tests/boxplots/test_boxplots.py
Labels: documentation, diagnostic, test, run tests

#2130 Nord4 HPC config in load container script
  CHANGELOG.md
  cli/aqua-container/load-aqua-container.sh
Labels: cli/scripts

#2086 Create a tool in `OutputSaver` to create diagnostic catalog entries
  CHANGELOG.md
  src/aqua_diagnostics/core/output_saver.py
  tests/test_output-saver_create_entry.py
Labels: improvement

#2137 Fix incompatible coordinate transformations
  CHANGELOG.md
  src/aqua/data_model/coordtranformer.py
Labels: ready to merge

#2140 Adjust seaice paths and other details
  CHANGELOG.md
  config/diagnostics/seaice/config_seaice.yaml
  src/aqua_diagnostics/core/util.py
  src/aqua_diagnostics/seaice/cli_seaice.py
  src/aqua_diagnostics/seaice/plot_2d_seaice.py
  src/aqua_diagnostics/seaice/plot_seaice.py
  src/aqua_diagnostics/seaice/seaice.py
  tests/seaice/test_plot_2d_seaice.py
  tests/seaice/test_plot_seaice.py
Labels: diagnostic, ready to merge

#2144 Update aqua-analysis config for new seaice and cleanup
  CHANGELOG.md
  config/analysis/config.aqua-analysis.yaml
Labels: dashboard

#2147 fldstat fix for radiation timeseries
  CHANGELOG.md
  src/aqua/fldstat/fldstat.py
Labels: ready to merge

#2152 Remove old seaice diagnostic
  CHANGELOG.md
  cli/lumi-install/pip_lumi.txt
  config/diagnostics/seaice/regions_definition.yaml
  diagnostics/seaice/README.md
  diagnostics/seaice/cli/README.md
  diagnostics/seaice/cli/cli_seaice.py
  diagnostics/seaice/cli/config_Concentration.yaml
  diagnostics/seaice/cli/config_Extent.yaml
  diagnostics/seaice/cli/config_Thickness.yaml
  diagnostics/seaice/cli/config_Volume.yaml
  diagnostics/seaice/config/regions_definition.yaml
  diagnostics/seaice/notebook_D733.ipynb
  diagnostics/seaice/notebooks/README.md
  diagnostics/seaice/notebooks/maps.ipynb
  diagnostics/seaice/notebooks/seaice.ipynb
  diagnostics/seaice/pyproject.toml
  diagnostics/seaice/seaice/__init__.py
  diagnostics/seaice/seaice/colInterpolatOr.py
  diagnostics/seaice/seaice/seaice_class.py
  environment.yml
  src/aqua/cli/diagnostic_config.py
  src/aqua_diagnostics/seaice/seaice.py
Labels: diagnostic, run tests

#2157 [Gregory plot] Small change to avoid try-except in set_label
  CHANGELOG.md
  src/aqua_diagnostics/timeseries/plot_gregory.py
Labels: ready to merge

#2174 Areas should be a dataset
  CHANGELOG.md
  src/aqua/regridder/regridder.py
Labels: ready to merge

#2153 Add support for reader_kwargs in Seaice
  CHANGELOG.md
  src/aqua_diagnostics/seaice/cli_seaice.py
  src/aqua_diagnostics/seaice/plot_seaice.py
  src/aqua_diagnostics/seaice/seaice.py
Labels: diagnostic, improvement, ready to merge

#2178 [Seaice] Fix aqua install config file path
  CHANGELOG.md
  src/aqua/cli/diagnostic_config.py
Labels: diagnostic

#2170 Show a logging error instead a raise for empty data reader retrival
  CHANGELOG.md
  src/aqua/reader/reader.py
  tests/seaice/test_seaice.py
  tests/test_basic.py
Labels: fix, reader, ready to merge

#2196 Minor EC-Earth related fixes
  CHANGELOG.md
  config/fixes/EC-EARTH4.yaml
  config/fixes/default.yaml
  config/grids/EC-EARTH4.yaml
Labels: fix, EC-EARTH
