Repository DestinE-Climate-DT/AQUA, pull requests merged in 2025-07, with the labels that each got.

#2028 Expose the `center_time` option in the timeseries cli
  CHANGELOG.md
  config/diagnostics/timeseries/config_timeseries_atm.yaml
  config/diagnostics/timeseries/config_timeseries_oce.yaml
  src/aqua_diagnostics/timeseries/cli_timeseries.py
Labels: diagnostic, improvement, ready to merge

#2039 update stac
  CHANGELOG.md
  src/aqua/gsv/intake_gsv.py
Labels: run tests

#2042 Evaluate formula class
  CHANGELOG.md
  src/aqua/fixer/__init__.py
  src/aqua/fixer/evaluate_formula.py
  src/aqua/fixer/fixer.py
  src/aqua/util/__init__.py
  src/aqua/util/yaml.py
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/gregory.py
  tests/test_fixer.py
Labels: framework, improvement

#2059 introducing timsum operator
  CHANGELOG.md
  docs/sphinx/source/other_components.rst
  src/aqua/reader/reader.py
  src/aqua/timstat/timstat.py
  tests/test_timstat.py
Labels: ready to merge, run tests

#2032 Better management of regions in timeseries
  CHANGELOG.md
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/plot_seasonalcycles.py
  src/aqua_diagnostics/timeseries/plot_timeseries.py
  src/aqua_diagnostics/timeseries/seasonalcycles.py
  src/aqua_diagnostics/timeseries/timeseries.py
  tests/timeseries/test_timeseries.py
Labels: diagnostic, improvement, ready to merge

#2061 Histogram as separate core function
  CHANGELOG.md
  docs/sphinx/source/other_components.rst
  src/aqua/__init__.py
  src/aqua/accessor.py
  src/aqua/histogram/__init__.py
  src/aqua/histogram/histogram.py
  src/aqua/reader/reader.py
  src/aqua/util/__init__.py
  src/aqua/util/units.py
  src/aqua_diagnostics/core/__init__.py
  src/aqua_diagnostics/core/util.py
  src/aqua_diagnostics/global_biases/global_biases.py
  src/aqua_diagnostics/teleconnections/base.py
  src/aqua_diagnostics/timeseries/gregory.py
  tests/diagnostic_core/test_core_util.py
  tests/test_accessor.py
  tests/test_histogram.py
  tests/test_util.py
Labels: ready to merge

#2041 Realization support in `aqua-analysis`
  CHANGELOG.md
  cli/aqua-analysis/aqua-analysis.py
  diagnostics/ocean3d/cli/cli_ocean3d.py
  diagnostics/seaice/cli/cli_seaice.py
  diagnostics/tropical_rainfall/cli/src/tropical_rainfall_utils.py
  docs/sphinx/source/aqua-analysis.rst
  src/aqua/lra_generator/catalog_entry_builder.py
  src/aqua/lra_generator/output_path_builder.py
  src/aqua/util/__init__.py
  src/aqua/util/realizations.py
  src/aqua_diagnostics/cli/cli_checker.py
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/core/util.py
  src/aqua_diagnostics/ecmean/cli_ecmean.py
  src/aqua_diagnostics/global_biases/cli_global_biases.py
  src/aqua_diagnostics/global_biases/global_biases.py
  src/aqua_diagnostics/ocean_drift/hovmoller.py
  src/aqua_diagnostics/radiation/cli_radiation.py
  src/aqua_diagnostics/teleconnections/cli_teleconnections.py
  src/aqua_diagnostics/teleconnections/enso.py
  src/aqua_diagnostics/teleconnections/mjo.py
  src/aqua_diagnostics/teleconnections/nao.py
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/cli_timeseries.py
  src/aqua_diagnostics/timeseries/gregory.py
  src/aqua_diagnostics/timeseries/seasonalcycles.py
  src/aqua_diagnostics/timeseries/timeseries.py
  tests/test_aqua_analysis.py
Labels: diagnostic, framework, run tests, cli/scripts

#2076 Fix catgen tests
  CHANGELOG.md
  notebooks/reader/main.ipynb
  src/aqua/cli/catgen.py
  src/aqua/reader/reader.py
  tests/test_catgen.py
  tests/test_info.py
Labels: ready to merge, test

#2073 Fix monthly bugs
  .github/workflows/aqua-complete.yml
  .github/workflows/aqua.yml
  src/aqua/data_model/coordtranformer.py
  src/aqua/graphics/gregory.py
  src/aqua/lra_generator/lra_generator.py
  src/aqua_diagnostics/ocean_drift/hovmoller.py
  src/aqua_diagnostics/timeseries/plot_gregory.py
Labels: ready to merge, run tests

#2056 OutputSaver reorganization and realization support
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/core/output_saver.py
  src/aqua_diagnostics/teleconnections/base.py
  src/aqua_diagnostics/teleconnections/mjo.py
  tests/diagnostic_core/test_core.py
  tests/global_biases/test_global_biases.py
  tests/teleconnections/test_enso.py
  tests/teleconnections/test_mjo.py
  tests/teleconnections/test_nao.py
  tests/test_output-saver_NEW.py
  tests/timeseries/test_gregory.py
  tests/timeseries/test_seasonalcycles.py
  tests/timeseries/test_timeseries.py
Labels: ready to merge, run tests

#2081 Console refinement
  CHANGELOG.md
  docs/sphinx/source/aqua_console.rst
  src/aqua/cli/main.py
  tests/test_console.py
Labels: improvement, ready to merge, cli/scripts

#2090 Fix format_realization for int argument
  CHANGELOG.md
  src/aqua/util/realizations.py
  tests/test_util.py
Labels: fix, ready to merge

#2100 modularise function for circular boundary to cartopy geoaxes
  CHANGELOG.md
  src/aqua/util/__init__.py
  src/aqua/util/graphics.py
  src/aqua_diagnostics/teleconnections/plot_nao.py
Labels: improvement, graphics

#2105 Add gridline option to plot_single_map
  CHANGELOG.md
  src/aqua/graphics/gridlines.py
  src/aqua/graphics/single_map.py
  tests/test_graphics.py
Labels: improvement, ready to merge, graphics

#2111 Fix legacy seaice extent and volume diagnostics
  CHANGELOG.md
  diagnostics/seaice/seaice/seaice_class.py
Labels: diagnostic, fix, ready to merge

#2107 Add norm keyword argument for customizable colorbar normalization
  CHANGELOG.md
  src/aqua/graphics/single_map.py
Labels: improvement, run tests
