Repository DestinE-Climate-DT/AQUA, pull requests merged in 2025-06, with the labels that each got.

#1884 Teleconnection refactor
  .github/workflows/aqua-complete.yml
  .github/workflows/aqua.yml
  CHANGELOG.md
  cli/aqua-analysis/config.aqua-analysis.yaml
  cli/aqua-web/config.grouping.yaml
  config/diagnostics/teleconnections/cli_config_atm.yaml
  config/diagnostics/teleconnections/cli_config_oce.yaml
  config/diagnostics/teleconnections/config_teleconnections_atm.yaml
  config/diagnostics/teleconnections/config_teleconnections_oce.yaml
  config/diagnostics/teleconnections/definitions/teleconnections-ci.yaml
  config/diagnostics/teleconnections/definitions/teleconnections-destine.yaml
  config/diagnostics/teleconnections/interface/teleconnections-netgems3.yaml
  config/diagnostics/timeseries/definitions/regions.yaml
  docs/sphinx/source/stateoftheart_diagnostics/figures/teleconnections.png
  docs/sphinx/source/stateoftheart_diagnostics/teleconnections.rst
  docs/sphinx/source/stateoftheart_diagnostics/timeseries.rst
  notebooks/diagnostics/teleconnections/ENSO.ipynb
  notebooks/diagnostics/teleconnections/MJO.ipynb
  notebooks/diagnostics/teleconnections/NAO.ipynb
  notebooks/diagnostics/teleconnections/concordance_map.ipynb
  notebooks/diagnostics/teleconnections/statistical_validation.ipynb
  src/aqua/cli/diagnostic_config.py
  src/aqua/graphics/__init__.py
  src/aqua/graphics/index_plot.py
  src/aqua/graphics/single_map.py
  src/aqua/util/sci_util.py
  src/aqua_diagnostics/__init__.py
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/core/output_saver.py
  src/aqua_diagnostics/teleconnections/README.md
  src/aqua_diagnostics/teleconnections/__init__.py
  src/aqua_diagnostics/teleconnections/base.py
  src/aqua_diagnostics/teleconnections/bootstrap.py
  src/aqua_diagnostics/teleconnections/cdo_testing.py
  src/aqua_diagnostics/teleconnections/cli_bootstrap.py
  src/aqua_diagnostics/teleconnections/cli_teleconnections.py
  src/aqua_diagnostics/teleconnections/enso.py
  src/aqua_diagnostics/teleconnections/index.py
  src/aqua_diagnostics/teleconnections/mjo.py
  src/aqua_diagnostics/teleconnections/nao.py
  src/aqua_diagnostics/teleconnections/plot_enso.py
  src/aqua_diagnostics/teleconnections/plot_nao.py
  src/aqua_diagnostics/teleconnections/plots/__init__.py
  src/aqua_diagnostics/teleconnections/plots/index_plot.py
  src/aqua_diagnostics/teleconnections/plots/maps_plot.py
  src/aqua_diagnostics/teleconnections/tc_class.py
  src/aqua_diagnostics/teleconnections/tc_statistics.py
  src/aqua_diagnostics/teleconnections/tools/__init__.py
  src/aqua_diagnostics/teleconnections/tools/cli_tools.py
  src/aqua_diagnostics/teleconnections/tools/sci_tools.py
  src/aqua_diagnostics/teleconnections/tools/tools.py
  src/aqua_diagnostics/timeseries/README.md
  src/aqua_diagnostics/timeseries/base.py
  tests/teleconnections/README.md
  tests/teleconnections/download_data_for_tests.sh
  tests/teleconnections/test_enso.py
  tests/teleconnections/test_mjo.py
  tests/teleconnections/test_nao.py
  tests/teleconnections/test_teleconnections.py
Labels: diagnostic, ready to merge

#1980 Trend and detrend method with independent `Trender()` class
  CHANGELOG.md
  docs/sphinx/source/other_components.rst
  src/aqua/reader/__init__.py
  src/aqua/reader/reader.py
  src/aqua/reader/trender.py
  tests/test_detrend.py
  tests/test_trender.py
Labels: framework, improvement

#1803 GlobalBiases refactor
  CHANGELOG.md
  config/diagnostics/global_biases/config_global_biases.yaml
  notebooks/diagnostics/global_biases/global_biases.ipynb
  src/aqua_diagnostics/__init__.py
  src/aqua_diagnostics/global_biases/__init__.py
  src/aqua_diagnostics/global_biases/cli_global_biases.py
  src/aqua_diagnostics/global_biases/global_biases.py
  src/aqua_diagnostics/global_biases/plot_global_biases.py
  src/aqua_diagnostics/global_biases/util.py
  tests/global_biases/test_global_biases.py
Labels: diagnostic, improvement, ready to merge

#1983 No Docker secrets for CI/CD worflow
  .github/workflows/aqua-complete.yml
  .github/workflows/aqua.yml
  CHANGELOG.md
Labels: run tests

#1987 Test file update (v6)
  .gitignore
  CHANGELOG.md
  download_data_for_tests.sh
  environment.yml
Labels: fix, test

#1988 Ensemble timeseries enhancement
  CHANGELOG.md
  docs/sphinx/source/graphics.rst
  src/aqua/graphics/timeseries.py
  src/aqua/graphics/util_timeseries.py
  tests/test_graphics.py
Labels: graphics

#1995 No email in polytope secret
  .github/workflows/aqua.yml
  CHANGELOG.md
Labels: run tests

#1997 Raise an error if retrieve() in core diagnostic returns an empty dataset
  CHANGELOG.md
  src/aqua/reader/reader.py
  src/aqua_diagnostics/core/diagnostic.py
Labels: ready to merge

#1999 Fix timeseries color
  CHANGELOG.md
  src/aqua/graphics/timeseries.py
  src/aqua/graphics/util_timeseries.py
  src/aqua_diagnostics/timeseries/plot_timeseries.py
Labels: fix, ready to merge, graphics

#2002 Update h5py dependency to avoid broken test and increase environment flexibility
  CHANGELOG.md
  pyproject.toml
Labels: fix, ready to merge, test

#2010 Adding docs and notebook for the new OutputSaver
  CHANGELOG.md
  docs/sphinx/source/new_diagnostics/guidelines/output_management.rst
  notebooks/diagnostics/ouputsaver.ipynb
  src/aqua_diagnostics/core/output_saver.py
Labels: documentation, diagnostic, ready to merge

#2000 Custom diagnostic_name to use and combine different tool of diagnostics
  CHANGELOG.md
  config/diagnostics/global_biases/config_global_biases.yaml
  config/diagnostics/radiation/config_radiation-biases.yaml
  config/diagnostics/radiation/config_radiation-timeseries.yaml
  config/diagnostics/teleconnections/config_teleconnections_atm.yaml
  config/diagnostics/teleconnections/config_teleconnections_oce.yaml
  config/diagnostics/timeseries/config_seasonalcycles_atm.yaml
  config/diagnostics/timeseries/config_timeseries_atm.yaml
  config/diagnostics/timeseries/config_timeseries_oce.yaml
  docs/sphinx/source/new_diagnostics/guidelines/configuration_files.rst
  notebooks/diagnostics/timeseries/gregory.ipynb
  notebooks/diagnostics/timeseries/seasonalcycles.ipynb
  notebooks/diagnostics/timeseries/timeseries.ipynb
  src/aqua/graphics/gregory.py
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/gregory.py
  src/aqua_diagnostics/timeseries/plot_gregory.py
  src/aqua_diagnostics/timeseries/plot_seasonalcycles.py
  src/aqua_diagnostics/timeseries/plot_timeseries.py
  src/aqua_diagnostics/timeseries/seasonalcycles.py
  src/aqua_diagnostics/timeseries/timeseries.py
  tests/timeseries/test_gregory.py
  tests/timeseries/test_seasonalcycles.py
  tests/timeseries/test_timeseries.py
Labels: diagnostic, improvement, ready to merge

#2013 Refactor `load_diagnostic_config` to load multiple configuration files
  src/aqua_diagnostics/core/util.py
  src/aqua_diagnostics/global_biases/cli_global_biases.py
  src/aqua_diagnostics/teleconnections/cli_teleconnections.py
  src/aqua_diagnostics/timeseries/cli_timeseries.py
  tests/diagnostic_core/test_core_util.py
Labels: run tests

#2018 Preparation to release 0.16
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  CHANGELOG.md
  src/aqua/version.py
Labels: ready to merge

#2022 Update ubuntu dockerfile for stack 7.0.2.8
  .github/workflows/create-fdb-container.yaml
  CHANGELOG.md
  dockerfiles/Dockerfile.ubuntu
Labels: ready to merge
