Repository DestinE-Climate-DT/AQUA, pull requests merged in 2025-09, with the labels that each got.

#2201 LatLonProfiles: refinement of the graphical functions
  CHANGELOG.md
  notebooks/diagnostics/lat_lon_profiles/multiple_lines_profiles.ipynb
  notebooks/diagnostics/lat_lon_profiles/single_line_profiles.ipynb
  notebooks/graphics/lat_lon_profiles.ipynb
  src/aqua/graphics/lat_lon_profiles.py
  src/aqua/graphics/seasonal_means.py
  src/aqua_diagnostics/lat_lon_profiles/plot_lat_lon_profiles.py
Labels: ready to merge, graphics

#2198 Catalog entry generation refinement and implementation in timeseries
  CHANGELOG.md
  config/diagnostics/timeseries/config_seasonalcycles_atm.yaml
  config/diagnostics/timeseries/config_timeseries_atm.yaml
  config/diagnostics/timeseries/config_timeseries_oce.yaml
  docs/sphinx/source/new_diagnostics/guidelines/class_structure.rst
  docs/sphinx/source/new_diagnostics/guidelines/configuration_files.rst
  docs/sphinx/source/new_diagnostics/guidelines/default_parser.rst
  docs/sphinx/source/new_diagnostics/guidelines/output_management.rst
  docs/sphinx/source/new_diagnostics/index.rst
  docs/sphinx/source/stateoftheart_diagnostics/boxplots.rst
  docs/sphinx/source/stateoftheart_diagnostics/global_biases.rst
  docs/sphinx/source/stateoftheart_diagnostics/index.rst
  docs/sphinx/source/stateoftheart_diagnostics/teleconnections.rst
  docs/sphinx/source/stateoftheart_diagnostics/timeseries.rst
  src/aqua/__init__.py
  src/aqua/cli/catgen.py
  src/aqua/lra_generator/catalog_entry_builder.py
  src/aqua/lra_generator/lra_generator.py
  src/aqua/lra_generator/lra_util.py
  src/aqua/reader/reader.py
  src/aqua/util/__init__.py
  src/aqua/util/catalog_entry.py
  src/aqua/util/realizations.py
  src/aqua/util/yaml.py
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/core/output_saver.py
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/cli_timeseries.py
  src/aqua_diagnostics/timeseries/gregory.py
  src/aqua_diagnostics/timeseries/seasonalcycles.py
  src/aqua_diagnostics/timeseries/timeseries.py
  tests/test_lra_util.py
  tests/test_output-saver.py
  tests/test_util.py
  tests/timeseries/test_seasonalcycles.py
  tests/timeseries/test_timeseries.py
Labels: diagnostic, framework, ready to merge

#2210 Removal of old dummy diagnostic
  CHANGELOG.md
  diagnostics/dummy/README.md
  diagnostics/dummy/README_template.md
  diagnostics/dummy/__init__.py
  diagnostics/dummy/cli/cli_dummy.py
  diagnostics/dummy/cli/dummy_config.yaml
  diagnostics/dummy/config/diagconfig.yaml
  diagnostics/dummy/dummy_class_readerwrapper.py
  diagnostics/dummy/dummy_class_timeband.py
  diagnostics/dummy/dummy_func.py
  diagnostics/dummy/env-dummy.yml
  diagnostics/dummy/notebooks/dummy_class_readerwrapper.ipynb
  diagnostics/dummy/notebooks/dummy_class_timeband.ipynb
  tests/dummy/download_data_for_tests.sh
  tests/dummy/test_dummy-diagnostic.py
Labels: diagnostic, ready to merge

#2213 action update to enable dependabot tests
  .github/workflows/aqua-complete.yml
  .github/workflows/aqua.yml
Labels: run tests

#2142 LRA no regrid enabled
  CHANGELOG.md
  src/aqua/lra_generator/lra_generator.py
Labels: framework, improvement, run tests

#2220 Fix quotation mark issue in f-string with older python versions
  src/aqua_diagnostics/seaice/plot_seaice.py
  src/aqua_diagnostics/seaice/seaice.py
Labels: bug, diagnostic

#1969 Hovmoller multi plot function
  CHANGELOG.md
  config/diagnostics/ocean3d/config_ocean_drift.yaml
  notebooks/diagnostics/ocean3d/hovmoller.ipynb
  notebooks/diagnostics/ocean_drifts/hovmoller.ipynb
  src/aqua/cli/diagnostic_config.py
  src/aqua/graphics/hovmoller.py
  src/aqua_diagnostics/ocean_drift/__init__.py
  src/aqua_diagnostics/ocean_drift/cli_ocean_drift.py
  src/aqua_diagnostics/ocean_drift/hovmoller.py
  src/aqua_diagnostics/ocean_drift/multiple_hovmoller.py
  src/aqua_diagnostics/ocean_drift/plot_hovmoller.py
  src/aqua_diagnostics/teleconnections/mjo.py
  src/aqua_diagnostics/timeseries/cli_timeseries.py
  tests/test_graphics.py
Labels: diagnostic, improvement, run tests

#2247 [TimeSeries] Add missing center time option to seasonalcycles
  CHANGELOG.md
  config/diagnostics/radiation/config_radiation-timeseries.yaml
  config/diagnostics/timeseries/config_seasonalcycles_atm.yaml
  src/aqua_diagnostics/timeseries/cli_timeseries.py
Labels: diagnostic, fix, ready to merge

#2263 Callable function and histogram in timstat
  CHANGELOG.md
  docs/sphinx/source/other_components.rst
  src/aqua/histogram/histogram.py
  src/aqua/reader/reader.py
  src/aqua/timstat/timstat.py
  tests/test_timstat.py
Labels: improvement

#2274 Update Gregory and oceanic timeseries to use BERKELEY-EARTH and ESA-CCI
  config/diagnostics/timeseries/config_timeseries_atm.yaml
  config/diagnostics/timeseries/config_timeseries_oce.yaml
Labels: ready to merge

#2255 Add anomalies option to boxplots
  CHANGELOG.md
  docs/sphinx/source/stateoftheart_diagnostics/boxplots.rst
  docs/sphinx/source/stateoftheart_diagnostics/figures/radiation_boxplot_anomalies.png
  notebooks/diagnostics/boxplots/boxplots.ipynb
  src/aqua/graphics/boxplot.py
  src/aqua_diagnostics/boxplots/plot_boxplots.py
  tests/boxplots/test_boxplots.py
Labels: diagnostic, improvement, ready to merge
