Repository DestinE-Climate-DT/AQUA, pull requests merged in 2025-05, with the labels that each got.

#1886 Expand LRA to compute also other statistics and some other refinements
  CHANGELOG.md
  docs/sphinx/source/lra.rst
  src/aqua/cli/lra.py
  src/aqua/lra_generator/lra_generator.py
  src/aqua/util/sci_util.py
  tests/test_console.py
  tests/test_lra.py
Labels: run tests

#1712 Timeseries refactor
  CHANGELOG.md
  cli/aqua-web/config.grouping.yaml
  config/diagnostics/radiation/config_radiation-timeseries.yaml
  config/diagnostics/timeseries/config_seasonalcycles_atm.yaml
  config/diagnostics/timeseries/config_timeseries_atm.yaml
  config/diagnostics/timeseries/config_timeseries_oce.yaml
  docs/sphinx/source/other_components.rst
  notebooks/diagnostics/timeseries/gregory.ipynb
  notebooks/diagnostics/timeseries/seasonalcycles.ipynb
  notebooks/diagnostics/timeseries/timeseries.ipynb
  src/aqua/graphics/__init__.py
  src/aqua/graphics/gregory.py
  src/aqua/graphics/util_timeseries.py
  src/aqua/util/time.py
  src/aqua_diagnostics/__init__.py
  src/aqua_diagnostics/core/__init__.py
  src/aqua_diagnostics/core/diagnostic.py
  src/aqua_diagnostics/core/time_util.py
  src/aqua_diagnostics/timeseries/README.md
  src/aqua_diagnostics/timeseries/__init__.py
  src/aqua_diagnostics/timeseries/base.py
  src/aqua_diagnostics/timeseries/cli_timeseries.py
  src/aqua_diagnostics/timeseries/gregory.py
  src/aqua_diagnostics/timeseries/plot_gregory.py
  src/aqua_diagnostics/timeseries/plot_seasonalcycles.py
  src/aqua_diagnostics/timeseries/plot_timeseries.py
  src/aqua_diagnostics/timeseries/reference_data.py
  src/aqua_diagnostics/timeseries/seasonalcycle.py
  src/aqua_diagnostics/timeseries/seasonalcycles.py
  src/aqua_diagnostics/timeseries/timeseries.py
  src/aqua_diagnostics/timeseries/util.py
  src/aqua_diagnostics/timeseries/util_cli.py
  tests/diagnostic_core/test_core_util.py
  tests/timeseries/test_gregory.py
  tests/timeseries/test_seasonalcycles.py
  tests/timeseries/test_timeseries.py
Labels: diagnostic, improvement

#1891 Diagnostics documentation structure refactor
  CHANGELOG.md
  docs/sphinx/source/aqua-analysis.rst
  docs/sphinx/source/diagnostics/figures/.png
  docs/sphinx/source/diagnostics/index.rst
  docs/sphinx/source/example_use_case.rst
  docs/sphinx/source/frontier_diagnostics/figures/ssh_variability_output.png
  docs/sphinx/source/frontier_diagnostics/figures/trop_rainfall_icon_ngc3028_ifs_tco2559_ng5_ifs_tco1279_orca025_mswep_lra_r100_monthly_comparison_histogram.png
  docs/sphinx/source/frontier_diagnostics/figures/tropical_cyclones1.png
  docs/sphinx/source/frontier_diagnostics/figures/tropical_cyclones2.png
  docs/sphinx/source/frontier_diagnostics/index.rst
  docs/sphinx/source/frontier_diagnostics/ssh_variability.rst
  docs/sphinx/source/frontier_diagnostics/tropical-rainfall.rst
  docs/sphinx/source/frontier_diagnostics/tropical_cyclones.rst
  docs/sphinx/source/index.rst
  docs/sphinx/source/new_diagnostics/guidelines/class_structure.rst
  docs/sphinx/source/new_diagnostics/guidelines/configuration_files.rst
  docs/sphinx/source/new_diagnostics/guidelines/core_functions.rst
  docs/sphinx/source/new_diagnostics/guidelines/default_parser.rst
  docs/sphinx/source/new_diagnostics/guidelines/output_management.rst
  docs/sphinx/source/new_diagnostics/index.rst
  docs/sphinx/source/stateoftheart_diagnostics/atm_global_mean.rst
  docs/sphinx/source/stateoftheart_diagnostics/dummy.rst
  docs/sphinx/source/stateoftheart_diagnostics/ecmean.rst
  docs/sphinx/source/stateoftheart_diagnostics/figures/IFS-NEMO-historical-1990-lra-r100-monthly_multilevel_t_s_trend_atlantic_ocean-1.jpg
  docs/sphinx/source/stateoftheart_diagnostics/figures/IFS-NEMO-historical-1990-lra-r100-monthly_spatial_MLD_Jun-Jul-Aug_weddell_sea-1.jpg
  docs/sphinx/source/stateoftheart_diagnostics/figures/IFS-NEMO-historical-1990-lra-r100-monthly_stratification_Feb_clim_labrador_sea-1.jpg
  docs/sphinx/source/stateoftheart_diagnostics/figures/IFS-NEMO-historical-1990-lra-r100-monthly_time_series_atlantic_ocean-1.jpg
  docs/sphinx/source/stateoftheart_diagnostics/figures/MLD_IFS-NEMO-historical-ssp370-ICON_historical-ssp370.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/Stratification_IFS-NEMO-historical-ssp370-ICON_historical-ssp370.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/Time_series_IFS-NEMO-historical-ssp370-ICON_historical-ssp370.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/atmglobalmean_docs_figure.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/boxplot_mtnlwrf_mtnswrf_ceres_ebaf-toa41_monthly_ifs-nemo_historical-1990_lra-r100-monthly-1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/dummy-diagnostic1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/ecmean-gm.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/ecmean-pi.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/figSIE.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_bias.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_gregory.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_seasonalcycle.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_timeseries.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/gregory_plot_ifs-nemo_historical-1990_lra-r100-monthly_1990-1-1_1999-9-1-1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/linear_trend_IFS-NEMO-historical-ICON_historical.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/radiation_boxplot.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/seasonal_bias.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/teleconnections.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/timeseries_ifs-nemo_historical-1990_lra-r100-monthly-1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/toa_mean_biases_tnr_ifs-nemo_historical-1990_lra-r100-monthly_1990_1998_ceres_ebaf-toa41_monthly-1.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/vertical_bias.png
  docs/sphinx/source/stateoftheart_diagnostics/index.rst
  docs/sphinx/source/stateoftheart_diagnostics/ocean3d.rst
  docs/sphinx/source/stateoftheart_diagnostics/radiation.rst
  docs/sphinx/source/stateoftheart_diagnostics/seaice.rst
  docs/sphinx/source/stateoftheart_diagnostics/teleconnections.rst
  docs/sphinx/source/stateoftheart_diagnostics/timeseries.rst
Labels: documentation, ready to merge

#1901 Outputsaver refinement
  CHANGELOG.md
  src/aqua_diagnostics/core/output_saver.py
  tests/test_output-saver_NEW.py
Labels: improvement, ready to merge

#1896 Timeseries documentation
  CHANGELOG.md
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_gregory.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_seasonalcycle.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/global_time_series_timeseries.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/gregory_doc.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/seasonalcycles_doc.png
  docs/sphinx/source/stateoftheart_diagnostics/figures/timeseries_doc.png
  docs/sphinx/source/stateoftheart_diagnostics/timeseries.rst
Labels: documentation, diagnostic, ready to merge

#1893 Polytope support
  .github/workflows/aqua.yml
  CHANGELOG.md
  docs/sphinx/source/advanced_topics.rst
  src/aqua/gsv/intake_gsv.py
  src/aqua/reader/reader.py
  src/aqua/util/config.py
  tests/test_catalog.py
  tests/test_gsv.py
Labels: improvement

#1903 Return codes for push_s3 and push_analysis
  CHANGELOG.md
  cli/aqua-web/push_analysis.sh
  cli/aqua-web/push_s3.py
  docs/sphinx/source/dashboard.rst
Labels: workflow, dashboard

#1895 Bridge STAC API implementation to guess Bridge availability
  CHANGELOG.md
  docs/sphinx/source/adding_data.rst
  src/aqua/gsv/intake_gsv.py
  tests/test_gsv.py
Labels: ready to merge

#1630 Update dev ensemble
  CHANGELOG.md
  config/diagnostics/ensemble/config_atmglobalmean_ensemble.yaml
  config/diagnostics/ensemble/config_timeseries_ensemble.yaml
  config/diagnostics/ensemble/config_zonalmean_ensemble.yaml
  notebooks/diagnostics/ensemble/ensemble_timeseries.ipynb
  src/aqua_diagnostics/ensemble/README.md
  src/aqua_diagnostics/ensemble/cli_atmglobalmean_ensemble.py
  src/aqua_diagnostics/ensemble/cli_timeseries_ensemble.py
  src/aqua_diagnostics/ensemble/cli_zonal_ensemble.py
  src/aqua_diagnostics/ensemble/ensemble_class.py
  tests/ensemble/test_latlon_ensemble.py
Labels: improvement, run tests, cli/scripts

#1873 Hovmoller diagnostics refractoring [Ocean3d]
  config/diagnostics/ocean3d/regions.yaml
  notebooks/diagnostics/ocean3d/hovmoller.ipynb
  src/aqua/cli/diagnostic_config.py
  src/aqua_diagnostics/ocean_drift/__init__.py
  src/aqua_diagnostics/ocean_drift/hovmoller.py
  src/aqua_diagnostics/ocean_drift/util.py
Labels: diagnostic

#1941 Lowering "no paths found in the machine configuration file" loglevel
  src/aqua/util/config.py
Labels: ready to merge

#1945 Regrid possibility in setup_checker
  CHANGELOG.md
  src/aqua_diagnostics/cli/cli_checker.py
Labels: diagnostic, fix, workflow, v0.13-operational

#1953 Scientific notation in cbar in multiple maps plots
  CHANGELOG.md
  src/aqua/graphics/multiple_maps.py
Labels: framework, fix, run tests

#1950 Update experiments.yaml file when pushing to dashboard
  CHANGELOG.md
  cli/aqua-web/push_analysis.sh
  cli/aqua-web/push_s3.py
  docs/sphinx/source/dashboard.rst
Labels: cli/scripts, dashboard

#1954 Preparation to v0.13.6
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/workflows/aqua.yml
  CHANGELOG.md
  environment.yml
  src/aqua/cli/main.py
  src/aqua/version.py
Labels: fix, ready to merge, workflow, v0.13-operational, ¡URGENT!

#1955 Update issue for v0.13.6 release
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/PULL_REQUEST_TEMPLATE/standard_pull_request.md
Labels: v0.13-operational
